<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary" style="border-radius: 15px;">
    <div class="container-fluid"  style="border-radius: 15px;background-color: skyblue;color: black;">
      <a class="navbar-brand " routerLink="/main"><span class="display-5"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-96 55.2C54 332.9 0 401.3 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7c0-81-54-149.4-128-171.1V362c27.6 7.1 48 32.2 48 62v40c0 8.8-7.2 16-16 16H336c-8.8 0-16-7.2-16-16s7.2-16 16-16V424c0-17.7-14.3-32-32-32s-32 14.3-32 32v24c8.8 0 16 7.2 16 16s-7.2 16-16 16H256c-8.8 0-16-7.2-16-16V424c0-29.8 20.4-54.9 48-62V304.9c-6-.6-12.1-.9-18.3-.9H178.3c-6.2 0-12.3 .3-18.3 .9v65.4c23.1 6.9 40 28.3 40 53.7c0 30.9-25.1 56-56 56s-56-25.1-56-56c0-25.4 16.9-46.8 40-53.7V311.2zM144 448a24 24 0 1 0 0-48 24 24 0 1 0 0 48z"/></svg><span class=" px-2">CureWell</span>
      </span></a>
      <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" routerLink="/viewDoc" style="color: black;">View Doctor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/viewSpec" style="color: black;">View Specializations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/viewSurg" style="color: black;">View Today's Surgery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/addDoc" style="color: black;">Add Doctor</a>
          </li>
          </ul>
          <div style="display: flex; justify-content: flex-end;">
            <ul style="list-style: none; display: flex; align-items: center;">
              <li class="nav-item">
                <i class="fa fa-user "><span class=" px-2">{{username}}</span></i>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="#" (click)="logout()" style="color: black;"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"/></svg>LogOut</a>
              </li>
            </ul>
          </div>
          
      </div>
    </div>
  </nav> -->
<div *ngIf="serv.navvisible">
  <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" style="border-radius: 15px;">
    <div class="container-fluid" style="border-radius: 15px; background-color: skyblue; color: black;">
         <a class="navbar-brand " routerLink="/main">
            <span class="display-5">
              <i class="fa fa-medkit"></i>
                <span class=" px-2">CureWell</span>
            </span>
        </a>
        <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/viewDoc" style="color: black;"><i class="fa fa-user-md"></i>Doctor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/viewSpec" style="color: black;"><i class="fa fa-stethoscope"></i>Specializations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/viewSurg" style="color: black;"><i class="fa fa-calendar"></i>Today's Surgery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/addDoc" style="color: black;"><i class="fa fa-user-plus"></i>Add Doctor</a>
                </li>
            </ul>
            <div style="display: flex; justify-content: flex-end;">
                <ul style="list-style: none; display: flex; align-items: center;">
                    <li class="nav-item">
                        <i class="fa fa-user "><span class=" px-2">{{username}}</span></i>
                    </li>
                    <li class="nav-item xyz">
                        <a class="nav-link" href="#" (click)="logout()" style="color: black;">
                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                                <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                <path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c-17.7 0-32 14.3-32 32s14.3 32 32 32z"/>
                            </svg>LogOut</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav></div>

<!-- Add some padding to the content below the fixed navbar -->


  

